.titulo2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: map-get($colors, colorsLetra );
    font-style: inherit;
    text-align: center;
    font-size: 25px;
}
.tablas {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    text-align: center;
    font-size: 16px;
}