.boton {
    border: none;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 3px solid;
}

.botton {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botonRafa {
    @extend %botonBasico;
    border: none;
    border-radius: 10px;
    background-color: rgba(246, 135, 7, 0.635);
    color: rgb(37, 232, 11);

}

.botonRoger {
    @include botones (rgba(142, 186, 10, 0.467),#d10c8f, #f0ebee);
}
