.boton {
    border: none;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 3px solid;
}

.botton {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botonRafa {

}

.botonRoger {

}

.botonNovak {
    
}