.boton {
    border: none;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 3px solid;
}

.botton {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botonRafa {
    @extend %botonBasico;
    border-radius: 10px;
    background-color: rgba(246, 135, 7, 0.635)

}

.botonRoger {
    @extend %botonBasico;
    background-color: rgba(190, 9, 9, 0.6);

}
