.barradecontenido {
    background-color: #504e4b;
    .navegador1 {
        .logotoro {
            height: 45px;
            width: 45px;
        }
        .navegador1 ul li a {
        font-size: 18px;
            &:hover {
            color: #f97007 !important;
            }
        }
    }