.barradecontenido {
    background-color: #504e4b;
    .navegador1 {
        .logotoro {
            height: 45px;
            width: 45px;
        }
        ul li a {
            font-size: 18px;
            transition:  all 1s ease;
            &:hover {
                color: #f97007 !important;
                }
        }
    }
}