.element {
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 15px;
    font-weight: 10%;
    text-align: center;
    line-height: 1.4;
    color:map-get($colors, colorsLetra );
    background-color: #777;
    border-radius: map-get($borders, borderRadius);
}