$fonts: (
    letraBasica: monospace;
    titulos: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    textos: Verdana, Geneva, Tahoma, sans-serif;
);
$borders (
    $borderRadius: 10px;
);
$colors (
    colorsLetra: #f7f7f5;
    colorsFondo: rgba(216, 129, 15, 0.548);
);