.tamanañoacade {
    height: 600px !important;
    width: 95%;

}
.element3 {
    min-width: auto;
    color: #f7f7f5;
    background-color: rgba(216, 129, 15, 0.548);
    border-radius: 10px;
}
.imgcentrada {
    width: 700px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
