
.element3 {
    min-width: auto;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    color: map-get($colors, colorsLetra );
    background-color:beige;
    border-radius: 15px;
}
.linkinfo {
    font-family:'Courier New', Courier, monospace;
    font-size: 18px;
    color:aqua;
}
.imgcentrada {
    width: 700px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
