.infotorneos {
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: map-get($borders, borderRadius);
    border-color: #f97007;
    .element2 {
        font-family:'Courier New', Courier, monospace;
        font-size: 10px;
        text-align: center;
        color:map-get($colors, colorsLetra );
        background-color: #9d948d;
        border-radius: map-get($borders, borderRadius);
    }
}