.infotorneos {
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: $borderRadius;
    border-color: #f97007;
    .element2 {
        font-size: 15px;
        font-weight: 10%;
        text-align: center;
        line-height: 1.4;
        color: #f7f7f5;
        background-color: rgba(255, 119, 0, 0.66);
        border-radius: $borderRadius;
    }
}