/** PAG DE INICO **/
.grilla {
    font-family: monospace;
    overflow-x: hidden;
}
.barradecontenido {
    background-color: #504e4b;
}
.navegador1 ul li a {
    font-size: 18px;
}
.navegador1 ul li a:hover {
      color: #f97007;
}
/* Diseño para mobile*/

/**BODY**/
/* .grilla {
    background-image: url(../IMAGENES/ph2.jpg);
    font-family: monospace;
    display: grid;
    grid-template-areas: 
    "header"
    "aside"
    "main"
    "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 500px 1fr 100px;
    height: 100vh;
} */

/* .header_grid{
    grid-area: header;
}

.main_grid{
    grid-area: main;
}

.aside_grid{
    transition: box-shadow 0.5s ease;
    grid-area: aside;
    display: flex;
    justify-content: center;
}

.footer_grid{
    grid-area: footer;
} */

/* *TERMINA BODY*

/**EMPIEZA HEADER*/
/* .header { */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* background-color: #504e4b;
    padding: 20px;
} */

/* .titulo {
    color: #f7f7f5;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
} */

/* .header_nav {
    justify-content: space-between;
}


.header_nav ul {
    display: flex;
    background-color: none;
    border-radius:0px;
    padding: 15px;
}
.header_nav ul li{
    background-color: none;
    border: #f7f7f5;
    border-radius:10px;
    padding: 03px;
    list-style: none;
}

.header_nav ul li a{
    color: #f7f7f5;
    text-decoration: none;
    font-size: 10px;
    justify-content: space-between;
}

.header_nav ul li a:hover {
    color: #f97007;
} */

/**TERMINA HEADER**/



/**EMPIZA MAIN**/

/* .main_section {
    display:flex;
    width: auto;
    height: auto;
}


.element {
    font-style: unset;
    font-weight: bolder;
    font-size: 15px;
    font-weight: 10%;
    text-align: center;
    line-height: 1.4;
    color: #f7f7f5;
    background-color: rgba(255, 119, 0, 0.66);
    border-radius: 10px;
}
/**TERMINA MAIN**/

/**EMPIEZA ASIDE**/

.imgrafa {
    width: 350px;
    height: 450px;
    border-radius: 02%;
}
.imganima:hover{
    box-shadow: 2rem 1rem 1rem #d66f0f;
}
/**TERMINA ASIDE**/

/**EMPIEZA FOOTER**/
/* .footer_nav {
    display: flex;
    justify-content:space-between;
    padding: 30px;
    background-color: #504e4b;
    }

.footer_div {
    color:#f7f7f5;
    font-style: italic;
    text-align: center;
    width: 100px;
    height: 50px;
}

.redes {
    width: 200px;
    height: 50px;
    justify-content: center;
}
.redes h2 {
    color:#f7f7f5;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.sociales {
    text-align: center;
}
.sociales li {
    display: inline-block;
    justify-content: center;

}
.sociales a{
    padding: 10px;
    width: 15px;
}

.iconoss {
    width: 25px;
    height: 25px;
}

/**TERMINA FOOTER**/


/**DISEÑO PARA DESKTOP**/
/* 
@media screen and (min-width: 1200px) {
    .grilla {
        grid-template-areas: 
        "header header"
        "main aside"
        "footer footer"
        ;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 2fr 1fr;
    }
    
    .titulo {
            font-size: 40px;
        }
    
    
        /**EMPIZA MAIN**/
    
    /* .main_section {
        display:flex;
        justify-content: center;

    }

    .element {
        width: 500px;
        height:600px;
        margin: 05px;
        text-align: center;
    } */
    

    /**TERMINA MAIN**/
    
    /**EMPIEZA ASIDE**/
    /* .aside_grid {
        width: auto;
        height: auto;
    }
    .imgrafa {
        width: 450px;
        height: 600px;
        border-radius: 02%;
        margin: 10px;
    }
    .imganima:hover{
        box-shadow: 2rem 1rem 1rem #ff7b00;
    } */
    /**TERMINA ASIDE**/
    
    
    *TERMINA DISEÑO DESKTOP*


/**EMPIEZA GRANDSLAMS**/
.grilla2 {
        background-image: url(../IMAGENES/ph2.jpg);
        font-family: monospace;
        display: grid;
        grid-template-areas: 
        "header"
        "main"
        "section"
        "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 2fr;
        height: 100vh;
    }
.header_grid{
    grid-area: header;
}

.main_grid{
    grid-area: main;
}
.section_grid{
    grid-area: section;
}

.footer_grid{
    grid-area: footer;
}


.titulo2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f7f7f5;
    font-style:inherit;
    text-align: center;

}
.tablas {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    text-align: center;
}
.tr_border {
    color: #d66f0f;
}
.td_class {
    border: none;
    color: #ffffff;
}

.infotorneos {
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 3%;
    border-color: #f97007;
}

.element2 {
    font-size: 15px;
    font-weight: 10%;
    text-align: center;
    line-height: 1.4;
    color: #f7f7f5;
    background-color: rgba(255, 119, 0, 0.66);
    border-radius: 10px;
}



/* Diseño para DESKTOP
@media screen and (min-width: 1200px) {
    .grilla2 {       
        background-image: url(../IMAGENES/ph2.jpg);
        font-family: monospace;
        display: grid;
        grid-template-areas: 
        "header header"
        "main main"
        "section section"
        "footer footer"
        ;
        grid-template-columns: auto auto;
        grid-template-rows: 200px auto 300px 150px;
        height: 100vh;
    }
}
*/




/** EMPIEZA PAG GALERIA**/

.grilla3 {
    background-image: url(../IMAGENES/ph2.jpg);
    font-family: monospace;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    height: 100vh;
}

.div_imgs {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    justify-content: center;
    transition: box-shadow 0.5s ease;
}

.imgrid {
    height: 200px;
    width: 200px;
    margin: 05px;
}
/**TERMINA DISEÑO MOBILE**/

/**TERMINA DISEÑO TABLET**/

/**EMPIEZA DISEÑO DESKTOP**/
@media screen and (min-width: 1200px) {
    .grilla3 {
        background-image: url(../IMAGENES/ph2.jpg);
        display: grid;
        grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer"
        ;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 1fr 150px;
        height: 100vh;
        font-family: monospace;
    }

    /* galeria */
    .div_imgs {
        grid-template-columns: auto auto auto auto  ;
        grid-template-rows: auto auto;
        justify-content: center;
        transition: box-shadow 0.5s ease;
    }

    .imgrid {
        width: 400px;
        height: 400px;
    }

}
/** EMPIEZA PAG DE CONTACTO **/

.main_contactos {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #d66f0f;
    border-radius: 15px;
    padding: 15px;
}

.cuadrito {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;

}


/**EMPIEZA PAG DE ACADEMIA**/

.tamanañoacade {
    height: 450px;
    width: 450px;
}
.element3 {
    min-width: auto;
    color: #f7f7f5;
    background-color: rgba(216, 129, 15, 0.548);
    border-radius: 10px;
}
.linkaca {
    list-style-type: none;
}
.links {
    text-decoration: none;
    color: #f7940a;
    
}

.section_img2 {
    height: 450px;
    width: 450px;
}

/* .grilla5 {
    background-image: url(../IMAGENES/ph2.jpg);
    font-family: monospace;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 100px;
    height: 100vh;
}

.header_grid{
    grid-area: header;
}

.main_grid{
    grid-area: main;
}

.footer_grid{
    grid-area: footer;
}

.titulo3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f7f7f5;
    font-style:inherit;
    text-align:center;
    margin: 15px;
    
}

.img_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.element3 {
    min-width: auto;
    color: #f7f7f5;
    text-align:center;
    font-size: 10px;
    background-color: rgba(216, 129, 15, 0.548);
    padding: 10px;
    border-radius: 10px;
}

.section_img {
    display: flex;
    min-width: 05%;
    align-items: center;
    justify-content: center;
    border-radius: 05px;
}
.tamanañoacade {
    height: 250px;
    width: 250px;
}

.imagencentrada {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_img2 {
    width: 15px;
    height: 15px;
}

.linkaotrapag {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
}

.links {
    text-decoration: none;
    color: #f7f7f5;
    font-size: large;
} */
