@import "./partials/"

/** PAG DE INICO **/

    .barradecontenido {
    background-color: #504e4b;
        .navegador1 ul li a {
        font-size: 18px;
            &:hover {
            color: #f97007 !important;
            }
        }
    }
    /**EMPIZA MAIN**/
    .element {
        font-style: unset;
        font-weight: bolder;
        font-size: 15px;
        font-weight: 10%;
        text-align: center;
        line-height: 1.4;
        color: #f7f7f5;
        background-color: rgba(255, 119, 0, 0.66);
        border-radius: 10px;
    }
    /**TERMINA MAIN**/

    /**EMPIEZA ASIDE**/
    .imgrafa {
        width: 500px;
        height: auto;
        border-radius: 02%;
        margin: 15px;
        .imganima:hover {
            box-shadow: 2rem 1rem 1rem #d66f0f;
        }
    }
    /**TERMINA ASIDE**/
    /**EMPIEZA FOOTER**/
    .piedepaginaa {
        background-color: #504e4b;
        .logotoro {
            height: 45px;
            width: 45px;
        }
    .socialesredes {
        list-style-type: none;
        }
    /** TERMINA FOOTER**/   
    }

    /**EMPIEZA GRANDSLAMS**/
    .titulo2 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #f7f7f5;
        font-style: inherit;
        text-align: center;
    }
    /**EMPIEZA PRIMERA SECTION**/
    .tablas {
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        text-align: center;
    }
    /**TERMINA PRIMERA SECTION**/

    /**EMPIEZA SEGUNDA SECTION**/
    .infotorneos {
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 3%;
        border-color: #f97007;
        .element2 {
            font-size: 15px;
            font-weight: 10%;
            text-align: center;
            line-height: 1.4;
            color: #f7f7f5;
            background-color: rgba(255, 119, 0, 0.66);
            border-radius: 10px;
        }
    }
    /**TERMINA SEGUNDA SECTION**/

    /** EMPIEZA PAG GALERIA**/

    #galeria .col-lg-4 {
        margin: 0 !important;
        padding: 25px;
        img{
            &:hover {
                border: 5px solid #11110f;
            }
        }
    }
    /**TERMINA PAG DE GALERIA**/

    /** EMPIEZA PAG DE CONTACTO **/

}




.main_contactos {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    text-align: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #d66f0f;
    border-radius: 15px;
    padding: 15px;
}

.cuadrito {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;

}


/**EMPIEZA PAG DE ACADEMIA**/

.grilla5 {
    overflow-x: hidden;
    background-image: url(../IMAGENES/fondoPag.jpg);
    font-family: monospace;
}

.tamanañoacade {
    height: 600px !important;
    width: 95%;

}

.element3 {
    min-width: auto;
    color: #f7f7f5;
    background-color: rgba(216, 129, 15, 0.548);
    border-radius: 10px;
}

.imgcentrada {
    width: 700px !important;
}

.linkaca {
    list-style-type: none;
}

.links {
    text-decoration: none;
    color: #f7940a;
    font-size: large;

}

.imagencentrada {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    text-decoration: none;
    color: #f7f7f5;
    font-size: large;
}
